[submodule "vim/bundles/snipmate_for_django"]
	path = vim/bundles/snipmate_for_django
	url = git://github.com/robhudson/snipmate_for_django.git
[submodule "vim/bundle/snipmate_for_django"]
	path = vim/bundle/snipmate_for_django
	url = git://github.com/robhudson/snipmate_for_django.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
