[submodule "vim/bundles/snipmate_for_django"]
	path = vim/bundles/snipmate_for_django
	url = git://github.com/robhudson/snipmate_for_django.git
[submodule "vim/bundle/snipmate_for_django"]
	path = vim/bundle/snipmate_for_django
	url = git://github.com/robhudson/snipmate_for_django.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/abolish"]
	path = vim/bundle/abolish
	url = git://github.com/nvie/vim-abolish.git
[submodule "vim/bundle/toggle_mouse"]
	path = vim/bundle/toggle_mouse
	url = git://github.com/nvie/vim-togglemouse.git
[submodule "vim/bundle/pyunit"]
	path = vim/bundle/pyunit
	url = git://github.com/nvie/vim-pyunit.git
[submodule "vim/bundle/rst_tables"]
	path = vim/bundle/rst_tables
	url = git://github.com/nvie/vim-rst-tables.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = http://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/flake8"]
	path = vim/bundle/flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim/bundle/gist-vim"]
	path = vim/bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "webapi-vim"]
	path = webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "vim/bundle/webapi-vim"]
	path = vim/bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "vim/bundle/vim-flake8"]
	path = vim/bundle/vim-flake8
	url = git://github.com/nvie/vim-flake8.git
[submodule "vim/bundle/splice"]
	path = vim/bundle/splice
	url = https://github.com/sjl/splice.vim.git
